@media only screen and (min-width: 28.5em) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: #293227;
        border-radius: 5px;
        align-items: center;
        color: white;
    }
}

body {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
}