@media only screen and (min-width: 32.5em) {
    /*NAVIGATION CSS*/
    body nav {
        display: flex;
        flex-direction: row;
    }
    body nav div {
        display: flex;
        list-style: none;
        padding: 10px;
        justify-content: space-around;
    }
    img {
        max-width: 40em;
    }
    #mybtn {
        display: none;
        align-content: center;
    }
    nav ul {
        display: flex;
        text-align: center;
        align-content: center;
    }
    nav button {
        align-content: center;
    }
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        background-color: #F4E9DF;
        padding: 10px;
    }
    #hero {
        grid-column: 2/3;
        grid-row: 1;
    }
    #heroImage {
        min-width: 15vw;
        max-width: 40vw;
    }
    #sunImage {
        max-width: 5em;
    }
    #spotlight_section {
        grid-column: 2/5;
        grid-row: 2;
    }
    * {
        font-size: 1rem;
    }
    #event {
        grid-column: 3/5;
        grid-row: 1;
        margin-left: 5px;
    }
    #weather {
        grid-column: 1/2;
        grid-row: 1;
    }
    #inner_weather {
        padding: 5px;
        margin-left: 10px;
    }
    #spotlight_section {
        grid-row: 3;
        grid-column: 2/3;
    }
    #news_release {
        grid-column: 3/5;
        grid-row: 3;
    }
    #join {
        grid-row: 3;
        grid-column: 1/2;
    }
    #hamburgerBtn {
        display: none;
    }
    /* DISCOVER CSS */
    #discGallery {
        display: grid;
        grid-template-columns: repeat(5, 18vw);
        object-fit: contain;
        align-content: center;
        column-gap: 1px;
        margin-right: 50px;
    }
    #discGallery img {
        max-width: 20rem;
    }
    .discImage:hover {
        box-shadow: 0 0 50px black;
    }
    body {
        max-width: 100%
    }
    #discGallery img {
        width: 100%;
    }
    #discMain {
        max-width: 940px;
        margin: auto;
    }
    figure {
        width: 100%;
    }
}