@media only screen and (min-width: 1024px) {
    /*NAVIGATION CSS*/
    body nav {
        display: flex;
        flex-direction: row;
    }
    body nav ul {
        display: flex;
        list-style: none;
        padding: 10px;
        justify-content: space-around;
        margin: auto;
    }
    img {
        max-width: 40em;
    }
    #mybtn {
        display: none;
        align-content: center;
    }
    nav ul {
        display: flex;
        text-align: center;
        align-content: center;
    }
    nav button {
        align-content: center;
    }
    .home_main {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1.5fr;
        grid-template-rows: 1fr .5fr 1fr;
        background-color: #F4E9DF;
        padding: 10px;
    }
    #hero {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #heroImage {
        min-width: 15vw;
        max-width: 35vw;
    }
    #sunImage {
        max-width: 5em;
    }
    #spotlight_section {
        grid-column: 3/4;
        grid-row: 1/5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    * {
        font-size: 1rem;
    }
    #event {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #weather {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #inner_weather {
        padding: 5px;
        margin-left: 10px;
    }
    #news_release {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #join {
        grid-column: 1/2;
        grid-row: 3;
    }
    #hamburgerBtn {
        display: none;
    }
    /* DISCOVER CSS */
    #discGallery {
        display: flex;
        flex-direction: column;
    }
    #discGallery img {
        max-width: 30rem;
    }
    figcaption {
        margin-bottom: 30px;
        font-size: 105%;
    }
    .discImage:hover {
        box-shadow: 0 0 50px black;
    }
    #discGallery img {
        width: 100%;
    }
    figure {
        width: 100%;
        margin: auto;
    }
    /*----------- DIRECTORY --------------*/
    /*----------- JOIN PAGE --------------*/
    .join_main {
        flex-direction: row;
    }
}