/*NAVIGATION CSS*/

body nav {
    display: flex;
    flex-direction: column;
    background-color: #27313B;
    padding: 10px;
}

body nav ul {
    list-style: none;
    padding: 10px;
    justify-content: space-around;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
    align-content: left;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #F4E9DF;
    border-top: 1px solid rgba(0, 0, 0, 0.5)
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3)
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}


/* End NAVIGATION CSS*/

header {
    justify-content: center;
    text-align: center;
}

footer {
    justify-content: center;
    text-align: center;
}

#logo {
    min-width: 10%;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #F4E9DF;
    padding: 10px;
    justify-content: center;
}

main div {
    padding: 5px;
}

#heroImage {
    max-width: 17em;
}

#youtube {
    max-width: 1em;
}

.twitter {
    max-width: 1.5em;
}

nav ul li a {
    max-width: 10em;
}

h1 {
    font: "Roboto Slab";
    font-family: 'Roboto Slab', serif;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #27313B;
    color: white;
    text-align: center;
}

header {
    background-color: #F4E9DF;
}

footer img {
    max-width: 5em;
    border-radius: 95px;
    padding: 2px;
}

a:active {
    color: yellow;
}

a:visited {
    color: #E89700;
}

a:hover {
    color: #59A86A;
}

#event {
    background-color: #2C4E37;
    border-radius: 30px;
    margin-right: 10px;
}

#weather {
    background-color: #2C4E37;
    border-radius: 30px;
    margin: 10px;
}

#news_release {
    background-color: #2C4E37;
    border-radius: 30px;
    margin: 10px;
}

#spotlight_section {
    background-color: #2C4E37;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

main div button {
    background-color: #27313B;
    border-radius: 8px;
}

#join {
    background-color: #2C4E37;
    border-radius: 30px;
    margin: 10px;
    padding: 3px;
}

#sunImage {
    max-width: 8em;
}

#carImage {
    max-width: 5em;
}

#coffeeImage {
    max-width: 5vw;
    background-color: white;
    border-radius: 5px;
}