/*NAVIGATION CSS*/

body nav {
    display: flex;
    flex-direction: column;
    background-color: #27313B;
    padding: 10px;
    align-items: center;
}

body nav ul {
    list-style: none;
    padding: 10px;
    justify-content: space-around;
}

nav ul li {
    padding: 5px;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
    align-content: flex-start;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #F4E9DF;
    border-top: 1px solid rgba(0, 0, 0, 0.5)
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3)
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

.hamburgerBtn {
    color: white;
}

.hamburgerBtn span:nth-child(1) {
    display: block;
}

.hamburgerBtn span:nth-child(2) {
    display: none;
}

.hamburgerBtn.open span:nth-child(1) {
    display: none;
}

.hamburgerBtn.open span:nth-child(2) {
    display: block;
}


/* End NAVIGATION CSS*/

body {
    background-color: #F4E9DF;
}

header {
    justify-content: center;
    text-align: center;
}

footer {
    justify-content: center;
    text-align: center;
}

.logo {
    min-width: 10%;
}

main {
    background-color: #F4E9DF;
    padding: 10px;
    align-content: center;
    margin: auto;
    max-width: 1200px;
}

main div {
    padding: 5px;
}

#heroImage {
    max-width: 17em;
}

.youtube {
    max-width: 1em;
}

.twitter {
    max-width: 1.5em;
}

nav ul li a {
    max-width: 10em;
}


/* HOME PAGE */

.home_main p {
    margin-top: 0;
}

.home_main h2,
.home_main h3 {
    margin-bottom: 5px;
}

.home_main span {
    margin-top: 0;
}


/* FONTS */

h1,
h2,
h3,
h4,
h5,
b,
p {
    font-family: 'Roboto Slab', serif;
}

#todays_date {
    font-family: 'Poppins', sans-serif;
}

#come_join {
    font-family: 'Poppins', sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #27313B;
    color: white;
    text-align: center;
}

header {
    background-color: #F4E9DF;
}

footer img {
    max-width: 5em;
    border-radius: 95px;
    padding: 2px;
}

a:active {
    color: yellow;
}

a:visited {
    color: #E89700;
}

a:hover {
    color: #59A86A;
}


/* CONTENT BOXES*/

#event {
    background-color: #AFD5B7;
    border-radius: 30px;
    margin: 10px;
}

#weather {
    background-color: #AFD5B7;
    border-radius: 30px;
    margin: 10px;
}

#call_to_action {
    background-color: #AFD5B7;
    border-radius: 30px;
    margin: 10px;
    text-align: center;
    padding: 15px;
}

#call_to_action h3 {
    margin-top: 0px;
    margin: 15px;
}

#news_release {
    background-color: #AFD5B7;
    border-radius: 30px;
    margin: 10px;
}

#spotlight_section {
    background-color: #AFD5B7;
    border-radius: 30px;
    margin: 10px;
}

#spotlight_section img {
    max-width: 250px;
    margin-bottom: 30px;
}

main div button {
    background-color: #27313B;
    border-radius: 8px;
}

#join {
    background-color: #AFD5B7;
    border-radius: 30px;
    margin: 10px;
    padding: 3px;
}

#carImage {
    max-width: 5em;
}

#coffeeImage {
    max-width: 5vw;
    background-color: white;
    border-radius: 5px;
}


/* DISCOVER PAGE CSS */

#discGallery {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    align-content: center;
    text-align: center;
    padding: 0;
    margin-bottom: 35px;
}

#demographic {
    text-align: center;
}

.discImage {
    max-width: 15rem;
}

img[data-src] {
    filter: blur(0em);
}

img {
    filter: blur(0em);
    transition: filter 0.5s;
}

figure img {
    vertical-align: top;
}

figcaption {
    text-align: center;
}

#discMain h2 {
    margin-bottom: 5px;
}

#demographic {
    margin-top: 20px;
}

#discMain p {
    margin-top: 0;
}

#discGallery {
    margin-top: 50px;
    margin-bottom: 50px;
}

figure {
    margin: 0;
}


/*----------- JOIN PAGE --------------*/

#membership_info {
    background-color: #AFD5B7;
    border-radius: 30px;
    margin: 20px;
    padding: 15px;
    margin-top: 50px;
    justify-content: space-between;
}

.join_main {
    display: flex;
    flex-direction: column;
}

#membership_info textarea {
    max-width: 50px;
}

footer p a {
    background-color: #010910;
    padding: 4px;
    border-radius: 3px;
}


/*----------- FORM --------------*/

form {
    max-width: 600px;
}

form fieldset {
    margin: 2rem 0;
    border: 5px solid #E89700;
    border-radius: 15px;
    padding: .5rem 2%;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
    font-weight: 900;
}

.join_main form h2 {
    margin: 0px;
}

.join_main h3 {
    margin: 0px;
}

.join_main p {
    margin: 5px 0px 15px 0px;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px darkgray;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 85%;
    max-width: 20rem;
    background-color: rgba(31, 27, 19, 0.1);
}

#form_textarea {
    width: 95%;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: black;
}

form input.submitBtn {
    border: none;
    background-color: #59A86A;
    color: black;
    font-weight: 900;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 8px;
}

form label.top input:required:valid {
    border-left: green solid 8px;
}


/*----------- JOIN BUTTON --------------*/

div div button {
    background-color: #181F25;
    color: white;
}

div p a {
    background-color: #010910;
    padding: 4px;
    border-radius: 3px;
}


/*----------- DIRECTORY --------------*/


/* .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */


/* section {
    margin-bottom: 45px;
} */

.menu {
    margin: 1rem auto;
    border: 3px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #27313B;
    text-align: center;
}

.menu button {
    background-color: #F4E9DF;
}

#directory_main {
    margin: 0 auto;
    border: 3px solid #808284;
    padding: 0.5rem;
    max-width: 700px;
    background-color: #F4E9DF;
}

#directory_main img {
    height: 75px;
    max-width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
}

.menu button {
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: flex;
    align-items: center;
    background-color: #efdac9;
    margin: 1px;
    padding: 3px;
}

.grid section {
    flex-direction: column;
    text-align: center;
    background-color: #efdac9;
    margin: 1px;
    padding: 3px;
    height: 99%;
}

.grid section p {
    margin-top: 0;
    margin-bottom: 5px;
}

.list section p {
    padding-top: 10px;
    margin-bottom: 20px;
}

.grid section>* {
    margin: 0.1rem;
}

.list section {
    flex-direction: row;
    justify-content: left;
}

.list section>* {
    margin: 0 1rem;
    text-align: left;
}

.list section img {
    display: none;
    /* smaller viewports only */
}


/*----------- THANK YOU PAGE --------------*/

#thanks_text {
    margin: 250px;
    text-align: center;
}