/*NAVIGATION CSS*/

body nav {
    display: flex;
    flex-direction: column;
    background-color: #59A86A;
    padding: 10px;
}

body nav ul {
    list-style: none;
    padding: 10px;
    justify-content: space-around;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
    align-content: left;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, 0.5)
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3)
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}


/* End NAVIGATION CSS*/

header {
    justify-content: center;
    text-align: center;
}

footer {
    justify-content: center;
    text-align: center;
}

main {
    background-color: #F4E9DF;
    padding: 10px;
}

#logo {
    min-width: 10%;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
}

#youtube {
    max-width: 1em;
}

.twitter {
    max-width: 1.5em;
}

nav ul li a {
    max-width: 10em;
}

h1 {
    font: "Roboto Slab";
    font-family: 'Roboto Slab', serif;
}

footer {
    display: flex;
    justify-content: space-around;
}