@media only screen and (min-width: 1024px) {
    /*NAVIGATION CSS*/
    body nav {
        display: flex;
        flex-direction: row;
    }
    body nav ul {
        display: flex;
        list-style: none;
        padding: 10px;
        justify-content: space-around;
        margin: auto;
    }
    img {
        max-width: 40em;
    }
    #mybtn {
        display: none;
        align-content: center;
    }
    nav ul {
        display: flex;
        text-align: center;
        align-content: center;
    }
    nav button {
        align-content: center;
    }
    .hamburgerBtn {
        display: none;
    }
    /* TEMPLE CONTENT AREA*/
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }
    .temple_main {
        margin: 0 auto;
        max-width: 1000px;
    }
    /* TEMPLE CONTENT AREA END*/
    .missionary_main img {
        max-width: 1000px;
    }
    .contact {
        align-self: center;
        max-width: 1200px;
    }
    .text_area {
        max-width: 1100px;
    }
}