@media only screen and (min-width: 640px) {
    body nav {
        display: flex;
        flex-direction: row;
    }
    body nav div {
        display: flex;
        list-style: none;
        padding: 10px;
        justify-content: space-around;
    }
    nav ul.open {
        display: flex;
    }
    .hamburgerBtn.open span:nth-child(1) {
        display: none;
    }
    .hamburgerBtn.open span:nth-child(2) {
        display: block;
    }
    /* TEMPLE CONTENT AREA*/
    .cards {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /* TEMPLE CONTENT AREA END*/
    section img {
        max-width: 500px;
        box-shadow: rgba(5, 0, 0, 10);
    }
    * {
        color: red;
    }
    .missionary_main img {
        max-width: 500px;
    }
    .contact {
        align-self: center;
        max-width: 500px;
    }
    .text_area {
        max-width: 400px;
    }
}