/*HEADER CSS*/

header {
    text-align: center;
}

.logo {
    border-radius: 30px;
}


/*HEADER END*/


/*NAVIGATION CSS*/

body nav {
    display: flex;
    flex-direction: column;
    background-color: #46777C;
    padding: 10px;
    align-items: center;
}

body nav ul {
    list-style: none;
    padding: 10px;
    justify-content: space-around;
}

nav ul li {
    padding: 5px;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
    align-content: flex-start;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #F4E9DF;
    border-top: 1px solid rgba(0, 0, 0, 0.5)
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3)
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

.hamburgerBtn {
    color: white;
}

.hamburgerBtn span:nth-child(1) {
    display: block;
}

.hamburgerBtn span:nth-child(2) {
    display: none;
}

.hamburgerBtn.open span:nth-child(1) {
    display: none;
}

.hamburgerBtn.open span:nth-child(2) {
    display: block;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #46777C;
    color: white;
    text-align: center;
}


/* FOOTER END */


/* End NAVIGATION CSS*/


/* GENERAL SEMANTIC STYLING*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cormorant SC', serif;
}

p {
    font-family: 'Philosopher', sans-serif;
}


/* GENERAL SEMANTIC STYLING END

/* HOME CONTENT AREA*/


/* HOME CONTENT END*/


/* TEMPLE CONTENT AREA*/

section {
    margin-bottom: 50px;
}

section img {
    max-width: 500px;
    box-shadow: rgba(5, 0, 0, 10);
}

section h2 {
    margin-bottom: 5px;
}

.cards {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* TEMPLE CONTENT AREA END*/