/*HEADER CSS*/

header {
    text-align: center;
}

.logo {
    border-radius: 30px;
}


/*HEADER END*/


/*NAVIGATION CSS*/

body nav {
    display: flex;
    flex-direction: column;
    background-color: #46777C;
    padding: 10px;
    border-radius: 50px;
    align-items: center;
}

body nav ul {
    list-style: none;
    padding: 10px;
    justify-content: space-around;
}

nav ul li {
    padding: 5px;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
    align-content: flex-start;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #F4E9DF;
    border-top: 1px solid rgba(0, 0, 0, 0.5)
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3)
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

.hamburgerBtn {
    color: white;
}

.hamburgerBtn span:nth-child(1) {
    display: block;
}

.hamburgerBtn span:nth-child(2) {
    display: none;
}

.hamburgerBtn.open span:nth-child(1) {
    display: none;
}

.hamburgerBtn.open span:nth-child(2) {
    display: block;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #46777C;
    color: white;
    text-align: center;
    padding-bottom: 15px;
}


/* FOOTER END */


/* End NAVIGATION CSS*/


/* GENERAL SEMANTIC STYLING*/

.link_button {
    margin: 15px;
    background-color: #B4C4D1;
    text-align: center;
    border-radius: 50px;
    padding: 15px;
    max-width: fit-content;
    border: #46777C solid 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cormorant SC', serif;
}

p {
    font-family: 'Philosopher', sans-serif;
}

#youtube {
    max-width: 1em;
    margin: 5px;
}

.twitter {
    max-width: 1.4em;
    margin: 5px;
}


/* GENERAL SEMANTIC STYLING END

/* HOME CONTENT AREA*/

.call_to_action {
    background-color: #EAF4F7;
    text-align: center;
    border-radius: 50px;
    padding-bottom: 30px;
}

.temple_spotlight {
    margin: 25px;
    background-color: #EAF4F7;
    text-align: center;
    border-radius: 50px;
}

#weather {
    background-color: #EAF4F7;
    text-align: center;
    border-radius: 50px;
    padding-bottom: 15px;
}


/* HOME CONTENT END*/


/* TEMPLE CONTENT AREA*/

section {
    margin-top: 15px;
    background-color: #EAF4F7;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 50px;
    border: #46777C solid 1px;
}

section img {
    max-width: 500px;
    box-shadow: rgba(5, 0, 0, 10);
}

section h2 {
    margin-bottom: 5px;
}

.cards {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.like_btn0,
.like_btn1,
.like_btn2,
.like_btn3 {
    max-width: 40px;
}


/* TEMPLE CONTENT AREA END*/


/* RESERVATION PAGE*/

.button_container {
    display: flex;
    justify-content: space-around;
}

#reservation_main {
    display: flex;
    flex-direction: column;
}


/* FORM CSS */

#reservation_form {
    align-self: center;
}

form {
    max-width: 600px;
}

form fieldset {
    margin: 2rem 0;
    border: 5px solid #46777C;
    padding: .5rem 2%;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
    font-weight: 900;
}

.join_main form h2 {
    margin: 0px;
}

.join_main h3 {
    margin: 0px;
}

.join_main p {
    margin: 5px 0px 15px 0px;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px darkgray;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 85%;
    max-width: 20rem;
    background-color: rgba(31, 27, 19, 0.1);
}

#form_textarea {
    width: 95%;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: black;
}

form input.submitBtn {
    border: none;
    background-color: #B4C4D1;
    color: black;
    font-weight: 900;
    border-radius: 1rem;
    padding: 1rem 1.25rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: rgb(255, 115, 0) solid 8px;
}

form label.top input:required:valid {
    border-left: rgb(2, 180, 8) solid 8px;
}


/*----------- JOIN BUTTON --------------*/

div div button {
    background-color: #181F25;
    color: white;
}

div p a {
    background-color: #010910;
    padding: 4px;
    border-radius: 3px;
}


/* FORM CSS END*/


/* RESERVATION PAGE END*/


/* SERVICES PAGE CSS */

.services_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_main .services {
    background-color: #B4C4D1;
    max-width: fit-content;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 15px;
    border: #46777C solid 1px;
}

.amenities {
    background-color: #B4C4D1;
    max-width: fit-content;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 15px;
    border: #46777C solid 1px;
}


/* SERVICES CSS END */


/* RECEPTION CSS */

.reception_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accomodations {
    background-color: #B4C4D1;
    max-width: fit-content;
    border-radius: 15px;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: #46777C solid 1px;
}

.catering {
    background-color: #B4C4D1;
    max-width: fit-content;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 15px;
    border: #46777C solid 1px;
}

.set_up {
    background-color: #B4C4D1;
    max-width: fit-content;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 15px;
    border: #46777C solid 1px;
}


/* RECEPTION CSS END*/


/* MISSIONARY CSS */

.missionary_info {
    background-color: #B4C4D1;
    max-width: fit-content;
    border-radius: 15px;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: #46777C solid 1px;
}

.missionary_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact {
    align-self: center;
}


/* MISSIONARY CSS END */